p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

input {
    border: none;
}

.bg-base {
    background-color: #FFFCE7;
}

.bg-main {
    background-color: #A8CE30 !important;
}

.bg-accent {
    background-color: #E34B2D !important;
}

.bg-admin {
    background-color: #F2F2F2;
}

.bg-delete {
    background-color: #3079CE !important;
}

.bg-disable {
    background-color: #b0b0b0 !important;
    cursor: auto;
}

.bg-full {
    min-height: 100vh;
}

.color-main {
    color: #A8CE30;
}

.color-accent {
    color: #E34B2D;
}

.color-white {
    color: #fff;
}

.underline-green {
    border-bottom: 3px solid #A8CE30 !important;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.p-1rem {
    padding: 1rem;
}

.p-2rem {
    padding: 2rem;
}

.p-3rem {
    padding: 3rem;
}

.p-4rem {
    padding: 4rem;
}

.p-5rem {
    padding: 5rem;
}

.m-1rem {
    margin: 1rem;
}

.m-2rem {
    margin: 2rem;
}

.m-3rem {
    margin: 3rem;
}

.m-4rem {
    margin: 4rem;
}

.m-5rem {
    margin: 5rem;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.w-80 {
    width: 80%;
}

.cursor-pointer {
    cursor: pointer;
}

.list-item {
    background-color: #fff;
    border: 2px solid #A8CE30;
    box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.list-btn {
    border-radius: 30px;
    background-color: #E34B2D;
    height: 2.5rem;
}

.inner-box {
    background-color: #fff;
    border: 3px solid #A8CE30;
    border-radius: 30px;
    box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.25);
    padding: 3rem 5rem;
    white-space: pre-wrap;
}

@media screen and (max-width: 959px) {
    .inner-box {
        padding: 2rem;
    }

    .font-md-30 {
        font-size: 30px !important;
    }

    .font-md-20 {
        font-size: 20px !important;
    }

    .font-md-15 {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 480px) {
    .inner-box {
        width: 100%;
    }
}
