.form-input_item {
    margin-top: 3rem;
}

.form-input_item label {
    font-size: 24px;
    width: 100%;
}

.form-input_item input {
    bottom: 0;
    font-size: 20px;
    width: 100%;
}

.form-input_item textarea {
    border: 3px solid #A8CE30;
    border-radius: 30px;
    width: 100%;
    padding: 2rem;
}

.form-input_item button {
    background-color: #A8CE30;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    right: 0;
    padding: 5px 10px;
}

.radio-checkbox {
    margin-top: 45px
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"]+label {
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #FFF;
    border: 2px solid #CCC;
    border-radius: 30px;
}

.checkbox input[type="checkbox"]:checked+label {
    background-color: #A8CE30;
    border-color: #A8CE30;
}

.checkbox input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 2px 4px gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkbox input[type="checkbox"]:checked+label:before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="radio"] {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

input[type="radio"]+label {
    background-color: #fff;
    border: 1px solid #A8CE30;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    transition: all .2s;
    width: 15%;
}

input[type="radio"]:checked+label {
    background: #A8CE30;
    color: #000;
}

.search-keyword__input {
    border-radius: 30px 0 0 30px;
    border: 1px solid #A8CE30;
    padding: 10px;
    outline: none;
    width: 40%;
}

.search-keyword__input::-webkit-search-cancel-button {
    cursor: pointer;
}

.search-keyword__button {
    border-radius: 0 30px 30px 0;
    background-color: #A8CE30;
    border: none;
    padding: 11px 30px;
}

.admin-input {
    width: 80%;
}

.admin-input input {
    width: 100%;
    height: 50px;
}
