.form-input_item {
    margin-top: 3rem;
}

.form-input_item label {
    font-size: 24px;
    width: 100%;
}

.form-input_item input {
    border: none;
    border-bottom: 3px solid #A8CE30;
    bottom: 0;
    font-size: 20px;
    width: 100%;
}

.form-input_item button {
    background-color: #A8CE30;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    right: 0;
    padding: 5px 10px;
}